@import "tailwindcss";

/* Hide track and style thumb */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent; /* Hide scrollbar track */
  position: absolute;
}

*::-webkit-scrollbar-track {
  background: transparent; /* Fully invisible track */
}

*::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hidden by default */
  border-radius: 4px;
  transition: background-color 0.3s ease;

}

/* Show thumb only on hover */
*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* semi-transparent white */
  backdrop-filter: blur(5px);
}




/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #2f0764;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}

.big-loader {
  width: 200px;
  aspect-ratio: 1;
  display: grid;
  border: 10px solid #0000;
  border-radius: 50%;
  border-right-color: #2f0764;
  animation: l15 1s infinite linear;
}
.big-loader::before,
.big-loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 10px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.big-loader::after {
  margin: 25px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}

/* HTML: <div class="loader"></div> */
.small-loader {
  width: 20px;
  aspect-ratio: 1;
  display: grid;
  border: 2px solid #0000;
  border-radius: 50%;
  border-right-color: #ffffff;
  animation: l15 1s infinite linear;
}
.small-loader::before,
.small-loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.small-loader::after {
  margin: 2px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}